<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='/stylesheets/index.css' />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="https://use.typekit.net/jhq2ngl.css" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{texts.title}}</title>
     <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>


